<h2> List of Movies </h2>

<ul>
    <% movies.forEach((oneMovie)=> { %>
      <li> <%=oneMovie.title %>
        <a href="/movies/<%= oneMovie._id %>"> View Details </a>
          <br>
        <a href="/movies/<%= oneMovie._id %>/edit"> Edit </a>
          <br>
        <form method="post" action="/movies/<%= oneMovie._id %>/delete">
            <button> Delete </button>
        </form>
      </li>
      <% }) %>
</ul>


  <a href="/movies/new">
    Add a Movie
  </a>
